# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environment
.venv/
venv/
env/

# Tests & coverage
.pytest_cache/
.coverage
htmlcov/

# Application
sonicforge.log
.cache/
SonicForge.spec
build/
dist/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDE
.idea/
.vscode/
*.swp
*.swo
